# -i https://mirrors.aliyun.com/pypi/simple/
certifi==2022.12.7
chardet==4.0.0
click==7.1.2
dnspython==2.1.0
fastapi==0.95.2
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==2.0.1
promise==2.3
pydantic==1.8.2
python-dotenv==0.17.1
python-multipart==0.0.5
requests==2.25.1
six==1.16.0
starlette==0.27.0
typing-extensions==3.10.0.0
urllib3==1.26.5
uvicorn==0.13.4
